<div class="custom-container container chat-wrapper">
    <nav class="navbar navbar-default custom-navbar-text">
        <div class="container-fluid">
            <p class="navbar-text _nickname">Logged in as <%= nickName %></p>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <form id="do-chat">
        <div class="panel panel-primary chat-panel">
            <div class="panel-body">
                <ul class="chat" id="response">
                </ul>
            </div>
        </div>
        <div class="panel panel-primary online-users-panel">
            <div class="panel-body">
                <ul class="chat _onlineUsers">
                </ul>
            </div>
        </div>
        <fieldset class="clear-cont">
            <legend class="legend-message">Enter your message..</legend>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="message" type="text" class="form-control" placeholder="Type your message here..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning" id="btn-chat">
                                Send</button>
                        </span>
                </div>
            </div>
        </fieldset>
    </form>
</div>