<div class="container chat-wrapper">
    <nav class="navbar navbar-default custom-navbar-text">
        <div class="container-fluid">
            <p class="navbar-text">Logged in as <%= nickName %></p>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <form id="do-chat">
        <table id="response" class="table table-bordered"></table>
        <fieldset>
            <legend class="legend-message">Enter your message..</legend>
            <div class="controls">
                <div class="input-group">
                    <input type="text" class="form-control" id="message" placeholder="Your message...">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="sendButton">Send</button>
                      </span>
                </div>
            </div>
        </fieldset>
    </form>
</div>