<div class="container chat-signin">
    <form class="form-signin">
        <h2 class="form-signin-heading">Chat sign in</h2>
        <input type="text" class="form-control" placeholder="Nickname" id="nickname" required>
        <label for="chatroom">Chatroom</label>
        <select size="1" id="chatroom" data-name="chatroom" class="form-control" disabled>
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>

        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                id="enterRoom">Sign in</button>
    </form>
</div>

